body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa; 
}

.font-orbitron { font-family: 'Orbitron', sans-serif; }

.font-tektur { font-family: 'Tektur', sans-serif; }

.font-lato { font-family: 'Lato', sans-serif; }